<h1>Este es el chat de Darío Miguel</h1>

<div>
    <span><i id="username"></i></span>
    <input type="text" id="chatInput" />
    <button id="send">Enviar</button>
</div>

<div id="chatBox"></div>

{{#each reversedchats}}
    <p><i>{{this.user}}</i>: {{this.message}}</p>
{{/each}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>