<div>
    Todo listo para trabajar con Websockets
</div>

<input type="text" id="mensaje">
<button id="sendMensaje">Enviar Mensaje</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
