<div class="container">
    <div class="container__column--left">
        <h1>Ingresá tu e‑mail</h1>
    </div>

    <div class="container__column--right">
        <form id="sessionForm">
            <p>E-mail</p>
            <input type="text" name="email" id="emailLogin" required />
            <p>Password</p>
            <input type="password" name="password" id="passLogin" required />
            <button type="submit">Continuar</button>
            <a href="/register">Crear cuenta</a>
        </form>
        <h2> Iniciar sesión con GITHUB</h2>
        <a href="/api/session/github"><button>Login con GITHUB</button></a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/session.js"></script>