<h2>Introduzca su nueva contraseña</h2>

<form  id="newPassForm">
        <input id="tokenNewPass" type="hidden" name="token" value="{{ token }}">
    <input id="emailNewPass" type="hidden" name="decodedToken" value="{{ decodedTokenString }}">
    Password: <input type="text" name="password" required id="newPass"></input><br>

    <button type="submit">Change password</button>
<br>
</form>