<h1>Restablecer contraseña</h1>

<p>Ingrese el correo de la cuenta que desea recuperar:</p>

<form id="resetPassForm">
    <input type="text" name="email" id="recoverEmail" required />
    <button type="submit">Continuar</button>
</form>