{{!-- <div class="ticket">
    <h1>Ticket</h1>
    <h2>Comprador: {{ticket.email}}</h2>
    <h2>Total: ${{ticket.amount}}</h2>

    <p><i>Fecha: {{ticket.purchase_datetime}} </i></p>
    <p>{{ticket.code}}</p>

</div> --}}