<div class="ticket">
    <h1>Ticket {{ticket.code}}</h1>
    <h2>Comprador: {{ticket.purchaser}}</h2>
    <h2>Total: ${{ticket.amount}}</h2>

    <p>{{ticket.purchase_datetime}} </p>
    <button
        onclick="window.location.href = 'http://localhost:8080/products';"
    >Volver al Inicio</button>
</div>