<footer class="footerContainer">
    <p>2023 Darío Miguel</p>
    <a href="#">Linkedin</a>
</footer>

<script src="/socket.io/socket.io.js"></script>
{{! <script src="/js/home.js"></script> }}
<script src="/js/products.js"></script>