<nav class="headerLogueado">
    <div class="container">
        <div class="container__logo">
            <a href="/home"><img
                    src="/img/iconoCapyart.png"
                    alt="logo CapyArt"
                    class="logo"
                />
            </a>
        </div>
        <div class="container__buscador">
            <input
                id="query"
                type="text"
                value="{{result.query}}"
                placeholder="Buscar productos"
            />
            <button
                id="btnSearch"
                {{! Colocamos un role y aria-label para mejorar accesibilidad }}
                role="button"
                aria-label="Search"
            >Search</button>
        </div>
        <nav class="container__menus">
            <a href="/profile">{{user.first_name}}</a>

            <button id="btnSeeCart">Carrito</button>
        </nav>
    </div>
</nav>