<div class="header-lite">
    <div class="container__logo">
        <a href="/home"><img
                src="/img/iconoCapyart.png"
                alt="logo CapyArt"
                class="logo"
            />
        </a>
    </div>
</div>