<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--//Fuente Montserrat-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&family=Outfit:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100&display=swap" rel="stylesheet"> 
        <title>Handlebars / Websockets</title>
        <link rel="stylesheet" href="/css/{{style}}" />
    </head>
    
    <body>
        <div id="result"></div>
        <button id="current">Current</button>
        <button id="everyone">Everyone</button>
        
        <div class="bodyContainer">
            <header>
                {{#if showHeaderLite}}
                    {{> headerLite}}
                {{else if showHeaderLogueado}}
                    {{> headerLogueado}}
                {{else}}
                    {{> headerNoLog}}
                {{/if}}
            </header>
            <main>
                {{{body}}}
                </main>
            {{> footer}}
        </div>
    </body>
</html>