<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Handlebars / Websockets</title>
        <link rel="stylesheet" href="/css/{{style}}" />
    </head>
    <body>
        <a href="/home">home</a><br />
        <a href="/login">Login</a><br />
        <a href="/register">Register</a><br />
        <a href="/profile">Profile</a><br />
        <hr />
        {{{body}}}

    </body>
</html>